body {
  background-color: #151638;
}
.card {
  width: 50%;
  margin: 0 auto;
  background-color: #090a18;
}

.weather.loading {
  visibility: hidden;
}

.weather.loading::after {
  visibility: visible;
  content: 'Loading....';
}

.icon {
  width: 15%;
  height: 15%;
}

@media only screen and (max-width: 780px) {
  .card {
    width: 100%;
  }
}
